#{extends 'main.html' /}
#{set title:'listado.html' /}

 
   	<link rel="stylesheet" href="@{'/public/stylesheets/jqx.base.css'}" type="text/css" />    
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxcore.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxdata.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxbuttons.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxscrollbar.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxmenu.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxcheckbox.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxlistbox.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxdropdownlist.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxgrid.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxgrid.sort.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxgrid.pager.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxgrid.selection.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxgrid.edit.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxdata.export.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxgrid.export.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxwindow.js'}"></script> 
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxinput.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqwidgets/jqxnumberinput.js'}"></script> 
<h1>LISTADO</h1>


   
                 
     
     


 <script type="text/javascript">
 
        $(document).ready(function () {
            var url ='@{verListado}';
            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [					                            
                    { name: 'nombre', type: 'string' },
                    { name: 'apellido', type: 'string' }                  
                ],
                updaterow: function (rowid, rowdata, commit) {
                    // synchronize with the server - send update command
                    // call commit with parameter true if the synchronization with the server is successful 
                    // and with parameter false if the synchronization failder.                    
                    $.ajax({
			            type: "POST",			            
			            url: "@{guardar}",
			            data: {
			            	nombre:function(){return $('#nombre').val(); },
			            	apellido:function(){return $('#apellido').val(); },
			            	idEmpleado: rowid
			            },
			        }).success(function(respuesta){
			        	commit(true);			        	
			        });
                    
                },
                id: 'id',
                url: url
            };

            	
            
            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            
            // initialize jqxGrid
            $("#jqxgrid").jqxGrid(
            {
                width: 580,
                source: dataAdapter,                
                pageable: true,
                autoheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,                
                selectionmode: 'multiplecellsextended',
                columns: [				
                { text: 'Nombre', columngroup: 'DatosEmpleado', datafield: 'nombre', width: 250 },
                { text: 'Apellido', columngroup: 'DatosEmpleado', datafield: 'apellido', width: 250 },
                { text: 'Editar', datafield: 'Edit', columntype: 'button', cellsrenderer: function () {
	                    return 'EDITAR';
	                 }, buttonclick: function (row) {
	                    // open the popup window when the user clicks a button.
	                    editrow = row;
	                    var offset = $("#jqxgrid").offset();
	                    $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
	                    // get the clicked row's data and initialize the input fields.
	                    var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
	                    $("#idEmpleado").val(dataRecord.id);
	                    $("#nombre").val(dataRecord.nombre);
	                    $("#apellido").val(dataRecord.apellido);
	                    // show the popup window.
	                    $("#popupWindow").jqxWindow('open');
	                }
                }
                ],
                columngroups: [
                    { text: 'DATOS DEL EMPLEADO', align: 'center', name: 'DatosEmpleado' }
                ]
            });
            
            
            
            //EXPORTAR A EXCEL
            
            $("#excelExportar").click(function(){
            	$("#jqxgrid").jqxGrid('exportdata', 'xls', 'jqxGrid');  
            });
            
            
            
            //IMPRIMIR TABLA
            $("#print").jqxButton();
            
            $("#print").click(function () {
                var gridContent = $("#jqxgrid").jqxGrid('exportdata', 'html');
                var newWindow = window.open('', '', 'width=800, height=500'),
                document = newWindow.document.open(),
                pageContent =
                    '<!DOCTYPE html>\n' +
                    '<html>\n' +
                    '<head>\n' +
                    '<meta charset="utf-8" />\n' +
                    '<title>jQWidgets Grid</title>\n' +
                    '</head>\n' +
                    '<body>\n' + gridContent + '\n</body>\n</html>';
                document.write(pageContent);
                document.close();
                newWindow.print();
            });
            
            
            
            
            
            //MOSTRANDO VENTANA MODAL
            
            // initialize the popup window and buttons.
            $("#popupWindow").jqxWindow({
                width: 250, resizable: false,  isModal: true, autoOpen: false, cancelButton: $("#Cancel"), modalOpacity: 0.01           
            });
            
            $("#popupWindow").on('open', function () {
                $("#nombre").jqxInput('selectAll');
            });
            
            
            
            
            //ACTUALIZANDO DATOS

            // update the edited row when the user clicks the 'Save' button.
            $("#Save").click(function () {
                if (editrow >= 0) {
                    var row = { nombre: $("#nombre").val(), apellido: $("#apellido").val()};
                    var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);
                    $('#jqxgrid').jqxGrid('updaterow', rowID, row);
                    $("#popupWindow").jqxWindow('hide');
                }
            });         
        });
        
        
      
                

    </script>


 
      
 <div id="jqxgrid">
       </div>
       <input type="button" value="Export to Excel" id='excelExportar' />
       
       <input type="button" value="Print" id='print' class="btn btn-primary" />
       
       
       
       
       <div id="popupWindow">
            <div><h5><b>EDITAR</b></h5></div>
            <div style="overflow: hidden;">
                <table>
                    <tr>
                    	<input type="hidden" id="idEmpleado" />
                        <td align="right"><label for="">Nombre:</label></td>
                        <td align="left"><input id="nombre"  class="form-control"/></td>
                    </tr>
                    <tr>
                        <td align="right"><label for="">Apellido:</label></td>
                        <td align="left"><input id="apellido" class="form-control" /></td>
                    </tr>                   
                    <tr>
                        <td align="right"></td>
                        <td style="padding-top: 10px;" align="right"><input class="btn btn-primary" type="button" id="Save" value="Guardar" /><input  class="btn btn-danger"  id="Cancel" type="button" value="Cancelar" /></td>
                    </tr>
                </table>
            </div>
       </div>
    